.hero-slider {
    background-color: gray;
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;

    & .hero-slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: opacity 0.4s ease-in-out;
        opacity: 1;

        &.fade {
            opacity: 0;
        }
    }

    & .hero-content {
        color: white;
        padding: 1rem;
        max-width: 600px;
        text-align: center;

        & h1, p {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
        }

        & h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        & p {
            font-size: 1.5rem;
        }
    }

    & .hero-dots {
        display: flex;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        gap: 0.2rem;
        z-index: 10;

        & .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1.7px solid white;
            background-color: transparent;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &.active {
                background-color: white;
            }
        }
    }
}



