.hero {
    background: linear-gradient(to right, #f5f7fa, #e2eafc);
    padding: 5rem 2rem;
    text-align: center;
    border-radius: var(--radius-lg);

    & .hero-content {
        max-width: 700px;
        margin: 0 auto;


        & h1 {
            font-size: 2.5rem;
            color: var(--text-primary);
            margin-bottom: 1rem;
        }

        & p {
            font-size: 1.25rem;
            color: var(--color-text-light);
            margin-bottom: 2rem;
        }

        & .hero-btn {
            background-color: var(--color-primary);
            color: white;
            padding: 0.8rem 1.5rem;
            border: none;
            border-radius: var(--radius-sm);
            cursor: pointer;
            transition: var(--transition);
            font-size: 1rem;
            font-weight: 500;
            user-select: none;

            &:hover {
                transform: scale(1.05);
                opacity: 0.95;
            }
        }
    }
}