/* src/styles/index.css */

:root {
  --color-bg: #f7f8fa;
  --color-text: #1f2933;
  --color-text-light: #555;
  --color-primary: #6b4eff;
  --color-secondary: #e2e8f0;


  --font-main: 'Segoe UI', sans-serif;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 12px;
  --transition: all 0.3s ease;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.5;
}
